<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Moviepedia</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/movies">Movie</a>
      <a class="nav-item nav-link" routerLink="/movielist">Movie List</a>
    </div>
  </div>
  <ul class="nav navbar-nav navbar-right">
      <a style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
      <a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
  </ul>
</nav>