<div class="detail">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="movie.imagePath"
        alt="{{ movie.name }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ movie.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a style="cursor :pointer;" (click)="onEditMovie()">Edit Movie details</a>
      <br>
      <a style="cursor :pointer;">Delete Movie</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ movie.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Cast
    </div>
  </div>
</div>
