/* .row {
    position: relative;
    top: -815px;
} */

.background {
    position: absolute;
    z-index: 0;
    width: 100%;
    /* margin-left: -206px; */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    filter: alpha(opacity=90);
    opacity: 0.9;  
}

/* img {
    opacity: 0.9;
} */

