<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->

  <!-- Search Bar -->

<form class="search-bar">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" name="movie" placeholder="Search" [(ngModel)]="movie">
    <div class="input-group-append">
      <button class="btn btn-light" type="submit" (click)="searchMovies()"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>


  <!--Searched Movies-->

<div class="movies">
  <div *ngFor="let movie of search_result; let i = index">
    <div *ngIf="i < 15">
      <div class="card movie">
        <div class="card-header bg-dark text-white">
          &nbsp;{{ movie.release_date | date:'mediumDate' }}&nbsp;
        </div>

        <div class="card-body clearfix">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 460px">

          <h4>{{ movie.original_title }}</h4>

          <div class="movie-description">
            <span>Popularity: {{ movie.popularity  | number : '1.0-1' }}</span>
            <span>Vote count: {{ movie.vote_count }}</span>

            <h5><i class="fas fa-star"></i>&nbsp;&nbsp;{{ movie.vote_average }}</h5>
          </div>
        </div>

        <a routerLink="/movie/{{ movie.id }}" class="btn btn-block btn-outline-info">Movie Details</a>
      </div>
    </div>
  </div>
</div>


  <!-- Upcoming Movies -->

<div class="movie-type">
  <h1>Upcoming Movies</h1>
</div>

<div class="movies">
  <div *ngFor="let upcoming of upcoming_movies; let i = index">
    <div *ngIf="i < 15">
      <div class="card movie">
        <div class="card-header bg-dark text-white">
          {{ upcoming.release_date | date:'mediumDate' }}
        </div>

        <div class="card-body clearfix">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.original_title }}" style="height: 460px">

          <h4>{{ upcoming.original_title }}</h4>

          <div class="movie-description">
            <span>Popularity: {{ upcoming.popularity  | number : '1.0-1' }}</span>
            <span>Vote count: {{ upcoming.vote_count }}</span>

            <h5><i class="fas fa-star"></i>&nbsp;&nbsp;{{ upcoming.vote_average }}</h5>
          </div>
        </div>

        <a routerLink="/movie/{{ upcoming.id }}" class="btn btn-block btn-outline-info">Movie Details</a>
      </div>
    </div>
  </div>
</div>


  <!-- Popular Movies -->

<div class="movie-type">
  <h1>Popular Movies</h1>
</div>

<div class="movies">
  <div *ngFor="let popular of popular_movies; let i = index">
    <div *ngIf="i < 15">
      <div class="card movie">
        <div class="card-header bg-dark text-white">
          {{ popular.release_date | date:'mediumDate' }}
        </div>

        <div class="card-body clearfix">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" alt="{{ popular.original_title }}" style="height: 460px">

          <h4>{{ popular.original_title }}</h4>

          <div class="movie-description">
            <span>Popularity: {{ popular.popularity  | number : '1.0-1' }}</span>
            <span>Vote count: {{ popular.vote_count }}</span>

            <h5><i class="fas fa-star"></i>&nbsp;&nbsp;{{ popular.vote_average }}</h5>
          </div>
        </div>

        <a routerLink="/movie/{{ popular.id }}" class="btn btn-block btn-outline-info">Movie Details</a>
      </div>
    </div>
  </div>
</div>
