.search-bar {
    width: 70%;
    margin: 2rem auto 4rem auto;
}

.search-bar button {
    border-left: 1px solid lightgray;
}


.movie-type {
    width: inherit;
    margin-bottom: 1rem;
    text-align: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies .movie {
    position: relative;
    margin: 1rem .625rem;
    width: 290px;
    text-align: center;
}

.movie {
    height: 710px;
}




.card {
    background-color: black;
}

.card-body {
    margin-bottom: -27px;
}


.titleBar {
    background-color: #000;
    display: block;
    color: #fff;
    padding-left: 16px
  }

.date {
    margin-top: 27px;
    float: left;
}

.extra-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -35px;
}



.container {
    margin-left: -1.5%;
}

span, div, h4 {
    color: white;
}

